/* Define Sass variables for reusability */
$spinner-size: 40px;
$spinner-border-width: 4px;
$spinner-border-color: rgba(0, 0, 0, 0.1);
$spinner-color: #3498db;

/* Center the loading message */
.loadingBody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  /* Style the loading message */
  .loading {
    font-size: 24px;
    text-align: center;

    /* Include the styling for the spinner */
    .spinner {
      display: inline-block;
      width: $spinner-size;
      height: $spinner-size;
      border: $spinner-border-width solid $spinner-border-color;
      border-radius: 50%;
      border-top: $spinner-border-width solid $spinner-color;
      animation: spin 1s infinite linear;
    }
  }
}

/* Define the spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
